#navbar{
    text-align: center;
    background-color: rgb(106, 0, 206);
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: auto;
}
h1{
    color: rgb(255, 254, 254);
}
body{
    background-color: #ffbef4;
}
#rekisteröinti{
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}
#kirjautuminen{
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}
button{
    margin-top: 20px;
}
